body{
	margin: 0 auto;
	left: 0px;
	top: 0px;
	background-color: white;
}

.curved{
	width: 100%;
	height: 70%;
	text-align: center;
	position: relative;
	z-index: 1;
}
.curved p{

}

.curved h1{

}
.curved svg{
	display: block;
	position: absolute;
	bottom: 0px;
}

.curved svg[name="first"]{
	bottom: 0px;
}

.curved svg[name="second"]{
	bottom: -4px;
}

.photos{
	background-image: url('img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	top: 0px;
}


.menu{
	background-color: white;
	z-index: 999;
}
.menu ul {
    padding:0px;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
    list-style:none;
    text-align: right;
    margin-right: 1%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    height: 33px;

}

.menu ul li { 
	display: inline;
}

.menu ul li a {
    padding: 8px 20px;
    display: inline-block;
    background-color:white;
    color: #333;
    text-decoration: none;
    border-bottom:2px solid white;
    margin-right: -4px;
    z-index: 99999;
}

.menu ul li a:hover {
    color: #6D6D6D;
    border-bottom:2px solid #989898;
}

.menu .selected{
	 color: #6D6D6D;
    border-bottom:2px solid #989898;
}


#logo{
	position: absolute;
	width: 30%;
	height: auto;
	z-index: 222;
	left: 13%;
	margin-top: 0;
	background-color: ;
	padding-top: 3%;
}

#logo img{
	width: 100%;
	height: auto;
}

#t1Index{
	float: left;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 222;
	padding: 0 0 0 0;
	position: relative;
	margin-top: 0;
	
}

#t1Index h1{
    font-weight: 400;
    font-size: 34px;
    margin-top: 1%;
    text-align: center;
    color: #B96900;
    background-color: ;
    font-family: 'Kaushan Script', cursive;
}


.buttonMain{
	font-family: 'Work Sans', sans-serif;
	color: white;
	padding: 8px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 50%;
	transform: translateX(-50%);
	font-weight: 600;
}

.buttonMain {
 	background-color: #7b4600;
  	border: 1px solid #a75f00;
  	color: white;
}

.buttonMain:hover {
  
   	background-color: #b96900;
  	border: 1px solid #7b4600;
  	color: #311d01;
}

.allBoxes{
	width: 90%;
	margin-left: 5%;
}

.boxes{
	width: 20%;
	height: auto;
	float: left;
	margin-left: 2.5%;
	background-color: ;
	position: relative;
	margin-top: 5%;
}
.boxes img{
	margin-left: 50%;
	transform: translateX(-50%);
}

.boxes h4{
	font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #B96900;
}

.boxes h5{
	font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
    color: #B96900;
    padding: 0 5% 0 5%;
    margin-top: -5%;
}

.boxes span{
	font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: justify;
    color: #B96900;
}


.line {
	width: 1px;
	background-color: #E5E5E5;
	height: 30%;
	margin-top: 70px;
	float: left;
	margin-left: 2.5%;

}


.main{
	background-color: white;
	position: relative;
	height: auto;
}


.news{
	width: 100%;
	height: 200px;
	background-color: white;
	float: left;
	text-align: center;
	margin-top: 2%;
	padding: 20px 0 20px 0 ;
	font-family: 'Work Sans', sans-serif;
}

.footer{
	float: left;
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.footerContent{
	position: absolute;
	right: 5%;
	text-align: right;
	z-index: 999999;
	bottom: 1%;
}

.footerContent h1{
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 12px;
	font-weight: 500;
}

.footerContent a{
	text-decoration: none;
	color: white;
	font-weight: 600;
}

.footerContent span{
	padding: 5px;
}
.ocean { 
  height: 5%;
  width:100%;
  position: absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.coments{
	width: 100%;
	height: 260px;
	background-color: #F7E1BA;
	float: left;
	text-align: center;
	margin-top: 2%;
	padding: 20px 0 20px 0 ;
	font-family: 'Work Sans', sans-serif;
}

.coments span{
	font-family: 'Kaushan Script', cursive;
	font-size: 28px;	
	color: #ce7b00;
}

.carousel-container{
	height:280px;
	background-color: ;
	position: relative;
}

.carousel {
	text-align: center;
	color: gray;
	position: absolute;
	background-color: ;
	height: 230px;
	transform: translateY(-40%);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin-left: 0.2%;
}

.aspasLeft{
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 9999;
}

.aspasRight{
	position: absolute;
	right: 12px;
	bottom: 10px;
	z-index: 9999;
}

.chat{
	position: absolute;
	background-color: white;
	padding: 25px 45px 25px 45px;
	border-radius: 15px;
	text-transform: none;
	font-size: 100%;
}
.chatIcon{
	position: absolute;
	bottom: -40px;
	left: 25px;
}

.chatName{
	position: absolute;
	bottom: -25px;
	margin-left: 40px;
	color: #ce7b00;
	font-weight: 500;
}

.news{
	height: auto;
	width: 90%;
	margin-left: 10%;
}

.news .photoMain{
	float: left;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	background-image: url('img/img1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.news .newsTopic{
	float: left;
	width: 40%;
	padding-left: 3%;
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 5px;
}

.news .newsText{
	float: left;
	width: 40%;
	padding-left: 3%;
	text-align: left;
	text-align: justify;
}


.news2{
	height: auto;
	width: 75%;
	margin-right: 15%;
	margin-top: 5%;
	float: right;
}

.news2 .photoMain{
	float: right;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	background-image: url('img/img1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.news2 .newsTopic{
	float: right;
	width: 50%;
	padding-right: 5%;
	text-align: right;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 5px;
}

.news2 .newsText{
	float: right;
	width: 50%;
	padding-right: 5%;
	text-align: right;
	text-align: justify;
	font-family: 'Work Sans', sans-serif;
}